@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  font: inherit;
  border: none;
  width: 100%;
}

:focus { outline-offset: 4px; }


html {
  font-family: 'Josefin sans', sans-serif;
  scroll-behavior: smooth;
}

li { list-style: none; }

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background:	hsl(195, 100%, 6%);
  color:hsl(0, 0%, 100%);
}

::-webkit-scrollbar-track {
  background: hsl(252, 100%, 12%);
  border-left: 1px solid var(--space-cadet);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.6); 
}